$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/packages/*
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.build.csdef
*.cachefile
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings.user
*.GhostDoc.xml
*.gpState
*.ilk
*.jfm
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.nuget.props
*.nuget.targets
*.nupkg
*.nuspec
*.obj
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.rsp
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.suo
*.suppress
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.userosscache
*.userprefs
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*_i.c
*_i.h
*_p.c
*~
.*crunch*.local.xml
.builds
.cr/
.env
.fake/
.gradle/
.idea/
.JustCode
.ntvs_analysis.dat
.paket/paket.exe
.sass-cache/
.vs/
/node_modules
/run
/wwwroot/dist/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Pp]ublish/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
__pycache__/
_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
~$*
ApplicationInsights.config
AppPackages/
appsettings.*.json
artifacts/
AutoTest.Net/
Backup*/
bin/
Bin/
bld/
build/
BundleArtifacts/
ClientBin/
csx/
dist/
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ecf/
FakesAssemblies/
Generated_Code/
internal_test/
ipch/
nCrunchTemp_*
node_modules/
orleans.codegen.cs
Package.StoreAssociation.xml
paket-files/
project.fragment.lock.json
project.lock.json
PublishScripts/
rcf/
TestResult.xml
UpgradeLog*.htm
UpgradeLog*.XML
x64/
x86/
!src/**/[Bb]in/
